/* Color Variables*/
$background: #e5e5e5;
$primary-color: #5bcae6;
$secondary-color: #2266b0;
$white: #ffffff;
$black: #000000;
$sub-head: #f7f7f7;

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,
html {
  font-family: "Open Sans", sans-serif;
  background-color: $background;
}
section {
  position: relative;
  //height: 100vh;
}
.navbar {
  transition: all 0.4s;

  .nav-link {
    color: $white;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    &:hover,
    &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  .navbar-brand {
    color: $white;
  }

  &.active {
    background: $white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

    .nav-link {
      color: $black;

      &:hover,
      &:focus {
        color: $black;
        text-decoration: none;
      }
    }

    .navbar-brand {
      color: $black;
    }
  }
}
.bg {
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.bg-banner {
    /* The image used */
    background-image: url("../images/TB_PS-header-image-01.jpg");
  }
  &.market-bg-1 {
    background-image: url("../images/market-trend-bg1.jpg");
  }
  &.market-bg-2 {
    background-image: url("../images/TB_PS-banner-end-user-01.jpg");
  }
  &.market-bg-3 {
    background-image: url("../images/TB_PS-vertical-banner-01.jpg");
  }
  &.market-bg-4 {
    background-image: url("../images/TB_PS-competitor-header1.jpg");
  }
  &.market-bg-5 {
    background-image: url("../images/TB_PS-channel-header-01.jpg");
  }
  &.market-bg-6 {
    background-image: url("../images/TB_PS-product-header.jpg");
  }
  &.covid-bg-1 {
    background-image: url("../images/TB_PS-covid-header-01.jpg");
  }
  &.market-bg-svg1 {
    background-image: url("../images/TB_PS-header-image.svg");
  }
}

.covid-bg {
  background-image: url("../images/TB-PS-background.svg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.bg-trend {
  .bg-trend-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      color: $white;
      font-size: 75px;
      font-weight: bold;
      letter-spacing: 10px;
    }
    h6 {
      color: $white;
      font-size: 16px;
    }
  }
  .bg-trend-cta {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: $white;
    .market-trend-cta {
      background-color: $primary-color;
      height: 120px;
    }
    .covid-19-cta {
      background-color: $secondary-color;
      height: 120px;
    }
  }
}
.common-image-bg {
  .market-breadcrumb {
    color: $white;
    padding: 10%;
    text-align: right;
  }
  .market-trend-area {
    background-color: $white;
    width: 22%;
    height: 450px;
    position: absolute;
    top: 20%;
    z-index: 2;
    min-width: 340px;
    color: $secondary-color;
    padding: 3rem 3rem 0 5rem;
    h5 {
      font-weight: bold;
      font-size: 24px;
    }
    ul {
      li {
        list-style: none;
        font-size: 18px;
        padding: 1rem 0;
      }
    }
  }
  .blue-card {
    background-color: $secondary-color;
    width: 22%;
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 450px;
    min-width: 340px;
  }
  .market-trend-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    h1 {
      color: $primary-color;
      font-size: 60px;
      font-weight: bold;
    }
    h2 {
      color: $white;
      font-size: 60px;
      width: 60%;
    }
    h3 {
      font-size: 39px;
      font-weight: 900;
      color: $sub-head;
      width: 60%;
      padding-top: 4rem;
    }
  }
}
.common-section {
  .global-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    .border-b1 {
      border-bottom: 1px solid $secondary-color;
    }
    h1 {
      color: $secondary-color;
      font-weight: 900;
      font-size: 30px;
      letter-spacing: 5px;
      width: 35%;
      margin: 0;
      border-bottom: 3px solid $secondary-color;
    }
  }
}

.common-covid-section {
  padding: 10% 0;
  .covid-left-section {
    border-left: 1rem solid $secondary-color;
    position: relative;
    ul {
      background-color: $white;
      margin: 0 10% 10% 10%;
      padding: 4%;
      li {
        list-style: none;
        font-size: 21px;
        color: $secondary-color;
        padding: 20px;
      }
    }
    .covid-primary-card {
      width: 315px;
      background-color: $primary-color;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      h2 {
        color: #f7f7f7;
        font-size: 36px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        padding: 15%;
        letter-spacing: 0.5rem;
      }
    }
  }
  .covid-middle-section{
    position: relative;
    ul {
      background-color: $white;
      margin: 0 10% 10% 10%;
      padding: 4% 20%;
      li {
        list-style: none;
        font-size: 21px;
        color: $secondary-color;
        padding: 20px;
      }
    }
    .covid-middle-card {
      width: 435px;
      height: 175px;
      background-color: #00A1E8;
      position: absolute;
      left: 0;
      top: 0;
      h2 {
        color: #f7f7f7;
        font-size: 36px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        padding: 15%;
        letter-spacing: 0.5rem;
      }
    }
  }
  .covid-right-section{
    border-right: 1rem solid $primary-color;
    position: relative;
    ul {
      background-color: $white;
      margin: 0 10%;
      padding: 4% 15%;
      li {
        list-style: none;
        font-size: 21px;
        color: $secondary-color;
        padding: 20px;
      }
    }
    .covid-secondary-card {
      width: 315px;
      background-color: $secondary-color;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      h2 {
        color: #f7f7f7;
        font-size: 36px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        padding: 15%;
        letter-spacing: 0.5rem;
      }
    }
  }
}

.closing-text{
  h1{
    color: $white;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    position: absolute;
    top: 20%;
    text-align: center;
    padding: 10%;
  }
}
/* Change navbar styling on scroll */

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: $white;

    .navbar-brand,
    .nav-link {
      color: $black;
    }
  }
}
