/* Color Variables*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

section {
  position: relative;
}

.navbar {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #ffffff;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #ffffff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar.active {
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #000000;
}

.navbar.active .nav-link:hover, .navbar.active .nav-link:focus {
  color: #000000;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #000000;
}

.bg {
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg.bg-banner {
  /* The image used */
  background-image: url("../images/TB_PS-header-image-01.jpg");
}

.bg.market-bg-1 {
  background-image: url("../images/market-trend-bg1.jpg");
}

.bg.market-bg-2 {
  background-image: url("../images/TB_PS-banner-end-user-01.jpg");
}

.bg.market-bg-3 {
  background-image: url("../images/TB_PS-vertical-banner-01.jpg");
}

.bg.market-bg-4 {
  background-image: url("../images/TB_PS-competitor-header1.jpg");
}

.bg.market-bg-5 {
  background-image: url("../images/TB_PS-channel-header-01.jpg");
}

.bg.market-bg-6 {
  background-image: url("../images/TB_PS-product-header.jpg");
}

.bg.covid-bg-1 {
  background-image: url("../images/TB_PS-covid-header-01.jpg");
}

.bg.market-bg-svg1 {
  background-image: url("../images/TB_PS-header-image.svg");
}

.covid-bg {
  background-image: url("../images/TB-PS-background.svg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: contain;
}

.bg-trend .bg-trend-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-trend .bg-trend-header h1 {
  color: #ffffff;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: 10px;
}

.bg-trend .bg-trend-header h6 {
  color: #ffffff;
  font-size: 16px;
}

.bg-trend .bg-trend-cta {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #ffffff;
}

.bg-trend .bg-trend-cta .market-trend-cta {
  background-color: #5bcae6;
  height: 120px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.bg-trend .bg-trend-cta .covid-19-cta {
  background: -webkit-gradient(linear, left top, right top, from(#2266b0), color-stop(27%, #206ab3), color-stop(51%, #1a75be), color-stop(74%, #0f87cf), color-stop(96%, #00a1e8), color-stop(97%, #00a1e8));
  background: linear-gradient(90deg, #2266b0 0%, #206ab3 27%, #1a75be 51%, #0f87cf 74%, #00a1e8 96%, #00a1e8 97%);
  height: 120px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.common-tabs {
  background-color: #ffffff;
  width: 22%;
  height: 450px;
  position: absolute;
  margin-top: 10rem;
  z-index: 2;
  min-width: 340px;
  color: #2266b0;
  padding: 3rem 3rem 0 5rem;
}

.common-tabs ul.nav.nav-tabs {
  border: 0;
  display: block;
}

.common-tabs ul.nav.nav-tabs li {
  list-style: none;
  font-size: 18px;
  padding: 1rem 0;
}

.common-tabs ul.nav.nav-tabs li:first-child {
  font-weight: bold;
  font-size: 24px;
  border-color: transparent;
  border-radius: 0;
  padding: 0;
}

.common-tabs ul.nav.nav-tabs li:first-child a.nav-link:hover {
  border-bottom: 1px solid transparent !important;
}

.common-tabs ul.nav.nav-tabs li:first-child a.nav-link.active {
  border-bottom: 1px solid transparent !important;
}

.common-tabs ul.nav.nav-tabs li.nav-item a.nav-link {
  color: #2266b0;
  padding: 0;
}

.common-tabs ul.nav.nav-tabs li.nav-item a.nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #2266b0;
  border-radius: 0;
}

.common-tabs ul.nav.nav-tabs li.nav-item a.nav-link.active {
  border-color: transparent;
  border-bottom: 1px solid #2266b0;
  border-radius: 0;
}

.common-image-bg .market-breadcrumb {
  color: #ffffff;
  padding: 10%;
  text-align: right;
}

.common-image-bg .market-trend-area {
  background-color: #ffffff;
  width: 22%;
  height: 450px;
  position: absolute;
  top: 20%;
  z-index: 2;
  min-width: 340px;
  color: #2266b0;
  padding: 3rem 3rem 0 5rem;
}

.common-image-bg .market-trend-area h5 {
  font-weight: bold;
  font-size: 24px;
}

.common-image-bg .market-trend-area ul li {
  list-style: none;
  font-size: 18px;
  padding: 1rem 0;
}

.common-image-bg .blue-card {
  background-color: #2266b0;
  width: 22%;
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 450px;
  min-width: 340px;
}

.common-image-bg .market-trend-content {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.common-image-bg .market-trend-content h1 {
  color: #5bcae6;
  font-size: 60px;
  font-weight: bold;
}

.common-image-bg .market-trend-content h2 {
  color: #ffffff;
  font-size: 60px;
  width: 60%;
}

.common-image-bg .market-trend-content h3 {
  font-size: 39px;
  font-weight: 900;
  color: #f7f7f7;
  width: 60%;
  padding-top: 4rem;
}

.common-section .global-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
}

.common-section .global-header .border-b1 {
  border-bottom: 1px solid #2266b0;
}

.common-section .global-header h1 {
  color: #2266b0;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0;
  border-bottom: 4px solid #2266b0;
}

.common-section .global-header h1.w40 {
  width: 40%;
}

.common-section .global-header h1.w50 {
  width: 60%;
}

.common-section .global-header h1.w60 {
  width: 60%;
}

.common-covid-section {
  padding: 10% 0;
  overflow: hidden;
}

.common-covid-section .covid-left-section {
  border-left: 1rem solid #2266b0;
  position: relative;
}

.common-covid-section .covid-left-section ul {
  background-color: #ffffff;
  margin: 0 10% 10% 10%;
  padding: 4%;
}

.common-covid-section .covid-left-section ul li {
  list-style: none;
  font-size: 21px;
  color: #2266b0;
  padding: 20px;
}

.common-covid-section .covid-left-section .covid-primary-card {
  width: 315px;
  background-color: #5bcae6;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.common-covid-section .covid-left-section .covid-primary-card h2 {
  color: #f7f7f7;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding: 15%;
  letter-spacing: 0.5rem;
}

.common-covid-section .covid-middle-section {
  position: relative;
}

.common-covid-section .covid-middle-section ul {
  background-color: #ffffff;
  margin: 0 10% 10% 10%;
  padding: 4% 20%;
}

.common-covid-section .covid-middle-section ul li {
  list-style: none;
  font-size: 21px;
  color: #2266b0;
  padding: 20px;
}

.common-covid-section .covid-middle-section .covid-middle-card {
  width: 435px;
  height: 175px;
  background-color: #00a1e8;
  position: absolute;
  left: 0;
  top: 0;
}

.common-covid-section .covid-middle-section .covid-middle-card h2 {
  color: #f7f7f7;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding: 15%;
  letter-spacing: 0.5rem;
}

.common-covid-section .covid-right-section {
  border-right: 1rem solid #5bcae6;
  position: relative;
}

.common-covid-section .covid-right-section ul {
  background-color: #ffffff;
  margin: 0 10%;
  padding: 4% 15%;
}

.common-covid-section .covid-right-section ul li {
  list-style: none;
  font-size: 21px;
  color: #2266b0;
  padding: 20px;
}

.common-covid-section .covid-right-section .covid-secondary-card {
  width: 315px;
  background-color: #2266b0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.common-covid-section .covid-right-section .covid-secondary-card h2 {
  color: #f7f7f7;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding: 15%;
  letter-spacing: 0.5rem;
}

.closing-text h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 20%;
  text-align: center;
  padding: 10%;
}

#scrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #2266b0;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
}

#scrollTop span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scrollTop:hover {
  background-color: #5bcae6;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/* Change navbar styling on scroll */
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #ffffff;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #000000;
  }
}
